Source: play-im
Section: utils
Priority: optional
Maintainer: samwhelp <samwhelp@users.noreply.github.com>
Build-Depends: debhelper (>= 9)
Standards-Version: 4.1.1
Homepage: https://samwhelp.github.io/note-ubuntu-18.10/
Vcs-Git: https://github.com/samwhelp/play-ubuntu-18.04-plan.git
Vcs-Browser: https://github.com/samwhelp/play-ubuntu-18.04-plan


Package: play-im
Section: utils
Architecture: all
Depends: ${misc:Depends}
Description: This is a util package for im.
 This is a util package for im basic setting.
