[Desktop Entry]
Type=Application
Exec=xdotool key ctrl+alt+d
TryExec=xdotool
Icon=desktop
Categories=System;Utility;
Keywords=desktop;window;toggle;

Name=Mutter Toggle Show Desktop
GenericName=Mutter-Toggle-Show-Desktop
Comment=Mutter Toggle Show Desktop

Name[zh_TW]=切換顯示桌面
GenericName[zh_TW]=Mutter-Toggle-Show-Desktop
Comment[zh_TW]=切換顯示桌面
