[Desktop Entry]
Type=Application
Exec=WorkWeb.sh
TryExec=firefox
Icon=firefox
Categories=GNOME;GTK;Network;WebBrowser;
Keywords=Internet;WWW;Browser;Web;Explorer
Terminal=false
X-MultipleArgs=false
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/ftp;x-scheme-handler/chrome;video/webm;application/x-xpinstall;
StartupNotify=true



Name=WorkWeb
GenericName=WorkWeb
Comment=Web Browser

Name[zh_TW]=網頁瀏覽器
GenericName[zh_TW]=WorkWeb
Comment[zh_TW]=網頁瀏覽器
