[Desktop Entry]
Type=Application
Exec=xdotool key ctrl+alt+d
TryExec=xdotool
Icon=desktop
Categories=System;Utility;
Keywords=desktop;window;toggle;

Name=Openbox Toggle Show Desktop
GenericName=Openbox-Toggle-Show-Desktop
Comment=Openbox Toggle Show Desktop

Name[zh_TW]=切換顯示桌面
GenericName[zh_TW]=Openbox-Toggle-Show-Desktop
Comment[zh_TW]=切換顯示桌面
